src/flows/Contact_Lookup.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Contact_Exists_with_Email_Or_Not</name>
        <label>Contact Exists with Email Or Not</label>
        <locationX>486</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Contact_Found_with_email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>contactEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Contact Found with email</label>
        </rules>
        <rules>
            <name>Contact_Doesn_t_exist_with_email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_on_contact_with_mobile_only</targetReference>
            </connector>
            <label>Contact Doesn&apos;t exist with email</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_the_Contact_is_found</name>
        <label>If the Contact is found</label>
        <locationX>125</locationX>
        <locationY>190</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Contact_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lookup_Contact_on_basis_of_email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_initiator_Contact</targetReference>
            </connector>
            <label>Contact Found with email</label>
        </rules>
    </decisions>
    <interviewLabel>Contact Lookup</interviewLabel>
    <label>Contact Lookup</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_Contact_on_basis_of_email</name>
        <label>Lookup Contact on basis of email</label>
        <locationX>359</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_the_Contact_is_found</targetReference>
        </connector>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactEmail</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>objContact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>MobilePhone</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_on_contact_with_mobile_only</name>
        <label>Lookup on contact with mobile only</label>
        <locationX>652</locationX>
        <locationY>205</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Contact_with_mobile_found</targetReference>
        </connector>
        <filters>
            <field>MobilePhone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactMobile</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>objContact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>MobilePhone</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact_with_mobile_found</name>
        <label>Update Contact with mobile found</label>
        <locationX>634</locationX>
        <locationY>468</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>processInitiatorContact</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ReportsToId</field>
            <value>
                <elementReference>objContact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_initiator_Contact</name>
        <label>Update the initiator Contact</label>
        <locationX>126</locationX>
        <locationY>379</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>processInitiatorContact</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>objContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <stringValue>0404040404040404040</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <startElementReference>Lookup_Contact_on_basis_of_email</startElementReference>
    <status>Obsolete</status>
    <variables>
        <description>this email woudl be used to find the contact from the table</description>
        <name>contactEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contactMobile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>objContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>processInitiatorContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>processInitiatorMobile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
